.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    height: 100vh;
    flex-direction: row;
  }
}

.leftColumn {
  width: 100%;
}

@media (min-width: 768px) {
  .leftColumn {
    width: 50%;
  }
}

.rightColumn {
  width: 100%;
}

@media (min-width: 768px) {
  .rightColumn {
    width: 50%;
  }
}
