.container {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  overflow-x: hidden;
}

.grid {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
