.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  justify-content: center;
}

@media (min-width: 768px) {
  .container {
    margin-top: 0;
  }

  .containerAlignStart {
    align-items: flex-start;
  }

  .containerAlignEnd {
    align-items: flex-end;
  }
}
