.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
}

.name {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif;
  font-weight: 600;
  color: rgb(239 68 68);
  margin-right: 0.5rem;
}
