.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif;
  height: auto;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    height: 1.75rem;
  }
}

.barContainer {
  border-radius: 0.25rem;
  position: relative;
  height: 0.625rem;
  width: 15rem;
  background-color: rgb(107 114 128);
  margin-left: 0;
}

@media (min-width: 768px) {
  .barContainer {
    margin-left: 1.5rem;
  }
}

.bar {
  position: absolute;
  height: 0.625rem;
  background-color: rgb(239 68 68);
  border-radius: 0.25rem;
}
