.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0.5rem;
}

.link {
  margin-top: 1.5rem;
  width: 83.333333%;
}
