.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 20rem;
}

@media (min-width: 768px) {
  .container {
    height: 14rem;
  }
}

.yearsColumn {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 9rem;
  align-items: center;
  justify-content: space-around;
}

.yearText {
  color: rgb(239 68 68);
  font-weight: 700;
  text-align: right;
}

.experienceColumn {
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .experienceColumn {
    width: 13rem;
  }
}
