.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portrait {
  border-radius: 9999px;
  border: 4px solid rgb(239 68 68);
}

.subtitle {
  color: rgb(107 114 128);
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
